body {
  margin: 0;
  min-height: auto;
  overflow-x: hidden;
  background-color: black;

}


div img {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  margin: 5vw 0;
  background-blend-mode: difference;
}

.vinyl {
  position: absolute;
  top: 0%;
  left: 0;
  /*right: 0;
  bottom: 0;*/
  transform: translate(50%)
    /*translate(-30px, -30px)*/
  ;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0;

}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.vinyl img:hover {
  box-shadow:
    0 0 30px hsl(30, 90%, 60%),
    0 0 90px hsl(200, 80%, 55%);
  transition: transform 0.3s ease;
  transform: scale(1.1);

}

@keyframes auroraGlow {
  0% {
    box-shadow:
      0 0 30px hsl(30, 90%, 60%),
      0 0 90px hsl(200, 80%, 55%);
  }

  25% {
    box-shadow:
      0 0 100px rgba(120, 200, 180, 0.7),
      0 0 120px rgba(255, 170, 90, 0.5);
  }

  50% {
    box-shadow:
      0 0 30px hsl(10, 80%, 55%),
      0 0 90px hsl(40, 80%, 60%);
  }

  75% {
    box-shadow:
      0 0 50px rgba(255, 170, 90, 0.6),
      0 0 120px rgba(255, 80, 80, 0.4);
  }

  100% {
    box-shadow:
      0 0 30px hsl(30, 90%, 60%),
      0 0 90px hsl(200, 80%, 55%);
  }
}

.vinyl img.active {

  animation:
    spin 20s linear infinite,
    auroraGlow 20s linear infinite;


}

#scrolltext {
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: left;
  font-family: "typeka", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  color: black;
  background: rgb(255, 255, 255, 0.8);
  padding: 5px;
}

#scrolltext:hover {
  color: white;
  background: rgb(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, color 0.3s ease;
}

p {
  color: aliceblue;
  font-size: 1.2em;
}


.text p {
  opacity: 0;
  transform: translateY(-200vh);
  transition: opacity 1s ease, transform 1s ease;
  margin: 4vw 0;

}

.text p.show {
  opacity: 0.7;
  transform: translateY(0);
}

.text {
  max-width: 90vw;
  right: -50%;
  transform: translate(-50%);

  margin: 130vh 0 0;
  text-align: left;
  line-height: 1.8;
  position: relative;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.6s ease;
}
.text p.show:hover {
  background: aliceblue;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.line.left {
  justify-content: flex-start;
  padding-left: 2vw;
}

.line.right {
  justify-content: flex-end;
  padding-right: 2vw;
  text-align: right;
}

.line span {
  max-width: 200px;
  line-height: 1.8;
}

.line {
  display: flex;
  width: 100%;
}

#happy-day {
  margin-bottom: 0;
}


@media screen and (max-width: 900px) {

  .vinyl {
    position: fixed;
    /*right: 0;
  bottom: 0;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
      /*translate(-30px, -30px)*/
    ;
  }

  div img {
    width: 60vw;
    height: 60vw;
  }

  .text {
    max-width: 90vw;
  }

  p {
    font-size: 0.7em;
  }

  .text p {
    opacity: 0;
    transform: translateY(-100vh);
    transition: opacity 1s ease, transform 1s ease;
    margin: 20vw 0;

  }

  #happy-day {
    margin-bottom: 20vw;
  }

  .line span {
    max-width: 100px;
  }

  #scrolltext {
    display: fixed;
    font-size: 0.5em;
  }

  .line.left {
    justify-content: flex-start;
    padding-left: 2vw;
  }

  .line.right {
    justify-content: flex-end;
    padding-right: 2vw;
    text-align: right;
  }
}